/* Write your CSS here */
.image {
  width: 200px;
}
.card {
  margin: 20px;
  background-color: #f1f5f9;
  padding: 10px;
  box-shadow: 5px 10px 5px #252627;
}
.name {
  font-size: 15px;
  color: #000000;
  text-align: center;
}
